*{
    /* Custom Properties */
    --light-blue:#63ccff;
    --blue:#039be5;
    --dark-blue: #006db3;
    --sand:#fff3e0;
    --dark-sand:#ccc0ae;
    /* General Styles */
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

body {
    background-color:#fff3e0;
}

.wrap {
    min-height:100vh;
}
/* --- Login Style --- */
.login {
    width:35vw;
    margin:0 auto;
}
.login > div {
    padding-top:2rem;
}
.login > input {
    padding: 3rem;
}
.login > input:hover {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

#cancel {
    display:inline;
    padding: 0.6rem 1rem;
    margin-left:1rem;
}

.login-title {
    text-align:center;
    padding-top:3rem;
    padding-bottom:6rem;
    font-size:3rem;
    margin:0;
}

.login button {
    background-color:#009BE5;
}

.login > div > a {
    background-color:#009BE5;
}

.login button:hover {
    background-color:#006db3;
}

.login > div > a:hover {
    background-color:#006db3;
}

#username:focus {
    border-bottom: 1px solid #009BE5;
    box-shadow: 0 1px 0 0 #009BE5;
}

#password:focus {
    border-bottom: 1px solid #009BE5;
    box-shadow: 0 1px 0 0 #009BE5;
}

/* --- Profile Style --- */
.list-wrap {
    max-width:960px;
    margin:0 auto;
}

.tabs .tab a {
    color:var(--blue);
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:rgba(0, 0, 0, 0.1);
    color:var(--light-blue);
} /*Text color on hover*/

.tabs .tab a.active {
    color:var(--blue);
} /*Background and text color when a tab is active*/

.tabs .tab a:focus.active {
    background-color: #fff;
}

.tabs .indicator {
    background-color:var(--light-blue);
} /*Color of underline*/
.profile-tab > h2 {
    text-align:center;
    padding-bottom:5rem;
}