#cardCardsArea {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#enterCardsForms {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#enterCardsForms h1 {
  text-align: center;
  font-size: 38px;
}

#cardFieldForm {
  margin: 0 auto;
  align-self: center;
}

#fieldNum {
  width: 10%;
}

#addFieldForm label {
  margin: 0 10px 0 0;
  font-size: 18px;
  color: black;
}

/* .addCardBtn,
.deleteCardBtn {
  border: thin solid #006eb39d;
  border-radius: 50%;
  color: #fff;
  background: #006db3;
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  font-size: 30px;
  line-height: 0;
} */

.deleteCardBtn {
  background: red;
}

input[id^="cardName"] {
  width: 400px !important;
}

input[id^="cardNum"] {
  width: 40px !important;
}

.set-dropdown {
  width: 300px;
  display: inline-block;
}

#foil-label {
  margin: 0;
  padding: 0 0 0 20px;
}

#foil-container {
  display: inline;
  margin: 0 0 0 10px;
}
